<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Lista de Asistencia - INFO2018</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <!--Import materialize.css-->
        
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    </head>
    <body>
        <nav class="nav-extended blue-grey darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Informatorio 2018</a>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#asistencia">Asistencia</a></li>
        <li class="tab"><a class="active" href="#alumnos">Alumnos</a></li>
      </ul>
    </div>
  </nav>
        <div class="container">
            <div id="asistencia" class="col s12">
                <div class="row" style="margin-top:10px;">
                    <div class="col s12">
                        <input type="text" class="datepicker" />
                    </div>
                    <div class="col s12">
                        <p>
                            La siguiente asistencia se guardará para la fecha indicada anteriormente
                        </p>
                    </div>
                    <div class="col s12">
                        <form>
                            <table>
                            <thead>
                              <tr>
                                  <th>Nombre</th>
                                  <th>Apellido</th>
                                  <th>Asistencia</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr th:each="student : ${students}">
                                <td th:text="${student.profile.name.givenName}"></td>
                                <td th:text="${student.profile.name.familyName}"></td>
                                <td>
                                    <label>
                                        <input type="checkbox" class="present-student" th:id="${student.profile.id}" th:data="${student.profile.name.fullName}" />
                                        <span>Presente</span>
                                    </label>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </form>
                    </div>
                    <div class="col s12">
                        <a id="btn_enviar_email" class="waves-effect waves-light btn-large"><i class="material-icons right">arrow_forward</i>Enviar</a>
                    </div>
                </div>
            </div>
            <div id="alumnos" class="col s12">
                <ul class="collection">
                    <li class="collection-item avatar" th:each="student : ${students}">
                      <img class="responsive-img circle" style="max-width: 100px;" th:src="${student.profile.photoUrl}" />
                      <span class="title" th:text="${student.profile.name.fullName}"></span>
                      <p th:text="${student.profile.emailAddress}"></p>
                      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                  </ul>
            </div>
        </div>
  
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            $(document).ready(function(){
              $('ul.tabs').tabs();
              $('.collapsible').collapsible();
              $('.fixed-action-btn').floatingActionButton();
              $('.datepicker').datepicker();
              
              //Enviar mail
              $("#btn_enviar_email").click(function(){
                  
                    $(this).addClass("disabled");

                    //Tomo los datos de los presentes
                    var alumnos = $(".present-student");
                    var presentes = [];
                    
                    console.log("Alumnos: " + alumnos);
                    
                    $.each(alumnos, function(index,element){
                        console.log(index + ": " + element.checked);
                        if (element.checked === true) {
                            presentes.push($(element).attr("data"));
                            console.log("Presente: " + $(element).attr("data"));
                        }
                    });
                    
                    var data = {
                        "fecha" : $(".datepicker")[0].value,
                        "presentes": presentes
                    }
                    
                    var url = "http://localhost:8085/asistencia";
                    
                    $.ajax({                        
                       type: "POST",                 
                       url: url,
                       contentType: "application/json",
                       data: JSON.stringify(data), 
                       success: function(result)             
                       {
                         swal({
                            title: "Asistencia colocada! Verifique su correo",
                            text: "Se intentará enviar via Gmail!",
                            icon: "success",
                            button: "Bueno, genial!",
                          });  
                          $("#btn_enviar_email").removeClass("disabled");
                       }
                   });
              });
            });

        </script>
    </body>
</html>
